.wrapper {
  background-color: #cccccc;
  border: 1px solid black;
  display: flex;
  font-family: Arial;
  font-size: 14px;
  height: 186px;
  justify-content: space-between;
  margin: auto 0;
  width: 540px;
}

.duck-image {
  margin: 20px;
}

.text-box {
  border-left: 1px solid black;
  margin: 20px 20px 20px 0;
  padding-left: 20px;
  position: relative;
}

.text-box p {
  margin: 10px 0;
}

h1 {
  font-size: 24px;
  font-style: italic;
  margin: 0;
}

.definition-list {
  line-height: 20px;
  margin-top: 0;
}

dt {
  float: left;
  font-weight: bold;
  text-align: left;
  width: 30%;
}

dd {
  text-align: left;
  width: 70%;
}

.edit-icon {
  bottom: 5px;
  position: absolute;
  right: 0px;
}
